<!--navigation-->
<div class="row">
   <div class="small-12 large-12 columns">collapsenav</div>
  <div class="small-11 large-11 columns">
    <section class="mobile-logo">

        <a href="index.html" title="NIKO" class="logo-wrap">
        <h1 class="logo-text clearfix"> NIKO </h1>
        </a>
    </section>
  </div>

  <div class="small-1 large-1 columns icon-bar five-up">
    <a class="item">
      <li>MENU</li>
    </a>
  </div>
<!--navigation-->
<div class="container">
    <div class="small-12 large-12 columns">

      <h2 class="headtxt">Hello And Welcome, We Love WordPress Themes</h2>
    </div>
    <div class="small-12 large-12 columns">
      <p class="title">We like to make things for web, in fact we are little bit too obsessed.</p>
    </div>
    <hr>
    <div class="small-12 large-12 columns">

    <div class="slick">
     <div><img src="images/1.jpg"></div><br>
     <div><img src="images/4.jpg"></div>
     <div><img src="images/2.jpg"></div>
     <div><img src="images/3.jpg"></div>
    </div>
  </div>
</div><!--container-->
